.applicantAdd{
	border: 0px solid white;
}
.applicantAdd > tr{
	border: 0px solid white;
}
.applicantAdd > tr > td{
	border-top: 0px solid white;
}
#agency{
	width:100%;
}
.definition-container{
	border: 1px solid #EAEAEA;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 20px;
	border-radius: 5px;
	width:520px;
	float:left;
 }
.definition-container label.head{
	font-size: 20px;
}
.definition-form{
	margin: 5px 5px;
}
.definition-form input[type=text]{
	width:350px;
}
.definition-form select{
	width:365px;
}
.definition-employee{
	border: 1px solid #EAEAEA;
	border-radius: 5px;
}
.definition-employee div.input-prepend{
	margin-left: 20px;
	padding: 20px;
}
.definition-container-employee{
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 20px;
	width:600px;
	float:left;
 }
.definition-container-employee label.head{
	font-size: 20px;
}
#report-form{
	position:fixed;
	z-index: 2;
	width:450px;
	padding-right:20px;
	background:#FBFBFB;
	box-shadow: 0px 0px 2px #e2e2e2;
	border: 1px solid #EAEAEA;
	border-radius:5px;
}
#toggle{
	select:none !important;
	cursor:pointer;
	background:#009700;
	height:250px;
	width:30px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #008000;
	border-right: 4px solid #008000;
}
#toggle div{
	select:none !important;
	color: #F2F2F2;
	font-weight: normal;
	font-size: 18px;
	text-shadow: 0px 0px 2px grey;
	line-height:270px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid :DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.hideme{
	display:none;
}
.comment{
	margin-bottom: 30px;
}
.comment li{
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
}
.comment li h5{
	padding:0px;
	margin:0px;
	font-size: 15px;
	font-weight: normal;
}
.comment li textarea{
	height:40px;
	width:500px;
}
.comment li:last-child{
	height:40px;
	width:500px;
	vertical-align:bottom;
}
.ecomment{
	margin: 0px;
	padding: 0px;
}
.ecomment li{
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
}
.ecomment li h5{
	padding:0px;
	margin:0px;
	font-size: 15px;
	font-weight: normal;
}
.ecomment li textarea{
	height:60px;
	width:420px;
}
